@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --Red: hsl(14, 86%, 42%);
  --Dark-Red: hsl(14, 86%, 32%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Rose-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
}

.main-container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 6.5%;
  gap: 30px;
  border-radius: 20px;
}

.products-container {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

h1 {
  text-align: left;
  font-size: 2.5em;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 100%;
  border-radius: 10px;
}

.img-wrapper {
  width: 100%;
  position: relative;
}

.img-wrapper .product-img {
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.add-to-cart-btn {
  width: 175px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 12px 20px;
  border-radius: 999px;
  background-color: var(--Rose-50);
  border: 1px solid var(--Rose-400);
  color: var(--Rose-900);
  font-family: "Red Hat Text";
  font-size: 0.9em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.add-to-cart-btn img {
  width: 20px;
  display: block;
  object-fit: contain;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  color: var(--Red);
  border: 1px solid var(--Red);
}

.add-to-cart-btn.active {
  background-color: var(--Red);
  color: var(--Rose-50);
  border: 1px solid var(--Red);
  justify-content: space-between;
}

.add-to-cart-btn.active .icons {
  width: 18px;
  height: 18px;
  padding: 4px;
  border: 1px solid var(--Rose-50);
  border-radius: 50%;
  fill: var(--Rose-50);
}

.add-to-cart-btn.active .icons:hover {
  background-color: var(--Rose-50);
  fill: var(--Red);
}

.add-to-cart-btn.active .icons path {
  fill: inherit;
}

.product-card.selected .product-img {
  outline: 2px solid var(--Red);
}

.product-info {
  margin-top: -20px;
  padding: 20px 10px;
  line-height: 1.5;
}

.category {
  color: var(--Rose-400);
  font-weight: 400;
  font-size: 0.9em;
}

.product-name {
  color: var(--Rose-900);
  font-weight: 600;
}

.price {
  color: var(--Red);
  font-weight: 600;
}

.order-summary {
  grid-column: 3;
  align-self: start;
  border-radius: 10px;
  background-color: var(--Rose-50);
  padding: 30px 30px;
  color: var(--Rose-900);
}

.order-summary h2,
.item-quantity {
  color: var(--Red);
}

.order-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 2px solid var(--Rose-100);
  font-size: 0.9em;
}

.item-info {
  display: flex;
  flex-direction: column;
  line-height: 1.75;
}

.item-name {
  font-weight: 600;
}

.quantity-price-container {
  display: flex;
  gap: 10px;
}

.item-quantity,
.total-item-price,
.order-total .order-price-total {
  font-weight: 600;
}

.item-price {
  color: var(--Rose-400);
}

.total-item-price {
  color: var(--Rose-500);
}

.remove-item-btn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--Rose-400);
  padding: 3px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

.remove-item-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-total {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total .order-price-total {
  font-size: 1.5em;
}

.carbon-neutral-delivery-container,
.confirm-order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carbon-neutral-delivery-container {
  margin: 20px 0;
  padding: 15px 0;
  background-color: var(--Rose-100);
  color: var(--Rose-900);
  font-size: 0.9em;
  border-radius: 10px;
}

.carbon-neutral-text {
  font-weight: 600;
}

.confirm-order-btn {
  border-radius: 30px;
  border: none;
  background-color: var(--Red);
  color: var(--Rose-50);
  font-size: 1em;
  padding: 20px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.confirm-order-btn:hover {
  background-color: var(--Dark-Red);
}

.confirm-order-btn:active {
  background-color: var(--Red);
  transform: scale(0.95);
}

footer {
  display: none;
}

@media (max-width: 1280px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .order-summary {
    width: 400px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .products-list {
    grid-template-columns: 1fr;
  }

  .img-wrapper .product-img {
    aspect-ratio: 1.5 / 1;
  }

  .order-summary {
    width: 100%;
  }
}
